#{extends 'main.html' /}
#{set title:'Cadastro de Condutores' /}

<form action="@{Condutores.salvar}" method="post">
Nome:
<input type="text" name="fiscalizadorObj.nomeCondutor"> 
Login:
<input type="text" name="fiscalizadorObj.loginCondutor">
Senha:
<input type="password" name="fiscalizadorObj.senhaCondutor">
CPF:
<input type="text" name="fiscalizadorObj.cpfCondutor">
Email:
<input type="text" name="fiscalizadorObj.emailCondutor">
Contato:
<input type="text" name="fiscalizadorObj.contatoCondutor">

<button>Cadastrar</button>

</form>