#{extends 'main.html' /}
#{set title:'Cadastro de Condutores' /}

<form action="@{Condutores.salvar}" method="post">

	<strong>Nome:</strong>
	<input class="form-control" type="text" placeholder="Nome completo" aria-label="input"
		name="condutorObj.nomeCondutor">

	<strong>Login:</strong>
	<input class="form-control" type="text" placeholder="Username" aria-label="input" name="condutorObj.login">

	<strong>Senha:</strong>
	<input class="form-control" type="password" placeholder="Senha" aria-label="input" name="condutorObj.senha">

	<strong>CPF:</strong>
	<input class="form-control" type="text" placeholder="000.000.000-00" aria-label="input"
		name="condutorObj.cpfCondutor">

	<strong>Email:</strong>
	<input class="form-control" type="text" placeholder="exemplo@.com" aria-label="input"
		name="condutorObj.emailCondutor">

	<strong>Contato:</strong>
	<input class="form-control" type="text" placeholder="(DDD)9XXXX-YYYY" aria-label="input"
		name="condutorObj.contatoCondutor">
	<br>
	<div class="mb-3">
		<input type="submit" class="btn btn-success">
		<href="@{Condutores.salvar}"></input>
	</div>
	
	<a class="btn btn-secondary" href="@{Checklists.formulario}" class="btn btn-second">Voltar</a>
	

</form>