#{extends 'main.html' /}
#{set title:'Cadastro de Carros' /}

<form action="@{Carros.salvar}" method="post">


	<strong>Nome:</strong>
	<input class="form-control" type="text" placeholder="Nome" aria-label="input" name="carroObj.nomeCarro">

	<strong>Placa:</strong>
	<input class="form-control" type="text" placeholder="Placa" aria-label="input" name="carroObj.placaCarro">

	<strong>Ano:</strong>
	<input class="form-control" type="text" placeholder="Ano" aria-label="input" name="carroObj.anoCarro">

	<br>
	<div class="mb-3">
		<input type="submit" class="btn btn-success">
		<href="@{Carros.salvar}"></input>
	</div>
	
	<a class="btn btn-secondary" href="@{Checklists.formulario}" class="btn btn-second">Voltar</a>

</form>