#{extends 'main.html' /}
#{set title:'Listar' /}
<h1>Pesquisar :)</h1>

<form action= "@{Checklists.listagem}">


	<input type="text" class="form-control" name="termo" value="${termo}" />
	<input type="submit" name="buscar" value="Pesquisar">
	
	</form>
	#{list items: checkListObj, as: 'cList'}
	<ul>
		<li>
			#{if cList.tipoChecklist == models.TipoChecklist.SAIDA}
			Vistoria de Saida
			#{/if}
			#{if cList.tipoChecklist == models.TipoChecklist.CHEGADA}
			Vistoria de Chegada
			#{/if} ||
			|| ${cList.fiscalizador} || ${cList.condutor} || ${cList.dataChecklist.format('yyyy-MM-dd')} || ${cList.volante}
			|| ${cList.setas} ||
			${cList.marcha} || ${cList.embreagem} || ${cList.freios} || ${cList.acelerador} <a href="@{Checklists.remover(cList.id)}">Remover</a>
			<a href="@{Checklists.editar(cList.id)}">Editar</a>
		</li>
	</ul>
	#{/list} 